@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
}

body{
    background-color: rgb(0, 0, 0);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7%;
    background-color: #000;
    color: aliceblue;
}

.nav h1{
    padding-right: 30px;
    position: relative;
}

.list{
    list-style: none;
    display: flex;
    /* padding: 10px; */
    /* margin: 10px; */
}

.B button{
    border: none;
    width: 90PX;
    height: 30PX;
    background-color: rgb(0, 255, 255);
    border-radius: 5PX;
    color: #000;
}

.form{
    display: none;
}

.list li{
    /* padding: 10px; */
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 94, 0);
}

.B{
    text-decoration: none;
}

.music{
    width: 90%;
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
    height: 450px;
    background-color: aliceblue;
}
 .enter{
     width: 30%;
     background-color: rgb(0, 0, 0);
     height: 100%;
     color: aliceblue;
 }

 .enter h1{
     padding: 40px;
     font-size: 60px;
     overflow-x: auto;
     text-wrap: none;
 }
 .bnt button{
     width: 70px;
     border: none;
     border-radius: 5px;
     height: 30px;
     background-color: cyan;
 }
 .pic{
     width: 70%;
     position: relative;
     height: 100%;
     background-color: aqua;
 }


 .pic img{
     width: 100%;
     height: 100%;
     background-size: cover;
 }

 .sound{
     color: aliceblue;
     margin-top: 80px;
     margin-left: 75px;
     align-items: center;
     /* font-size: ; */
 }

 .category{
     /* padding-top: 30px; */
     background-color: rgb(0, 0, 0);
     height: 450px;
     width: 90%;
     /* display: flex; */
     
     margin-left: 70px;
 }

 .up{
     /* padding: 20px; */
     display: flex;
     margin-top: 10px;
     background-color: rgb(0, 0, 0);
     width: 100%;
     height: 225px;
 }

 .one{
     width: 20%;
     background-color: rgb(0, 0, 0);
     height: auto;
     margin-right: 5px;
     display: flex;
 }

 .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

 .down{
    display: flex;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 225px;

 }

 .two{
    width: 20%;
    background-color: rgb(0, 0, 0);
    height: auto;
    margin-right: 5px;
    display: flex;
}

.two img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.subscribe{
    margin-top: 80px;
    display: flex;
    /* position: relative; */
    height: 600px;
    width: 90%;
    margin-left: 70px;
    background-color: rgb(0, 0, 0);
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);  
    color: rgb(255, 94, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
}

.overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.overlay:hover{
    opacity: 1;
}
.overlay:hover > *{
    transform: translateY(0) ;
}
.header button{
    background-color: transparent;
    border: none;
    /* border-radius: 10px; */
    width: 200px;
    height: 60px;
    color: aqua;
    font-size: 30px;
}

.sub{
    width: 30%;
    position: relative;
    height: auto;
    background-color: rgb(32, 31, 31);
}
.sub img{
    width: 100%;
    position: relative;
    height: 100%;
    background-size: cover;
}

.par{
    width: 70%;
    height: auto;
    color: aqua;
    margin-left: 70px;
}

.btn button{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(41, 152, 226);
    border: none;
}

.base{
    height: 200px;
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.myu{
    margin-left: 150px;
    /* margin-top: 100px; */
    height: 200px;
    width: 20%;
    border-top: rgb(223, 204, 204);
    text-decoration: none;
    color: rgb(41, 40, 39);
}

.abt{
    margin-left: 150px;
    margin-top: 50px;
    height: 200px;
    width: 20%;
    border-top: rgb(223, 204, 204);
    text-decoration: none;
    color: rgb(41, 40, 39);
}

.commyu{
    margin-left: 150px;
    margin-top: 50px;
    height: 200px;
    width: 20%;
    border-top: rgb(223, 204, 204);
    text-decoration: none;
    color: rgb(41, 40, 39);
}

.myu ul{
    list-style: none;
    text-decoration: none;
}

.abt ul{
    list-style: none;
    text-decoration: none;
}

.commyu ul{
    list-style: none;
    text-decoration: none;
}

.myu li{
    list-style: none;
    padding-top: 5px;
    text-decoration: none;
}

.abt li{
    list-style: none;
    padding-top: 5px;
    text-decoration: none;
}

.commyu li{
    list-style: none;
    padding-top: 5px;
    text-decoration: none;
}

.myu a{
    list-style: none;
    padding: 5px;
    color: rgb(93, 95, 94);
    text-decoration: none;
}

.abt a{
    list-style: none;
    padding: 5px;
    color: rgb(93, 95, 94);
    text-decoration: none;
}

.commyu a{
    list-style: none;
    padding: 5px;
    color: rgb(93, 95, 94);
    text-decoration: none;
}

.base hr{
    width: 2px;
    height: 110px;
    margin-top: 60px;
    color: black;
}

.pract{
    margin-top: 80px;
    margin-left: 70px;
    color: bisque;
    width: 70%;
    height: 400px;
}

.name2{
    margin-left: 60px;
}

.name{
    display: flex;
    /* margin: 30px; */
}

.phc{
    display: flex;
}
.country{
    margin-left: 60px;
}